body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #9bbbeb, #2d4f73);
}

h2,
h3 {
    display: inline-block;
    background-color: bisque;
    color: black;
    padding: 5px;
    border-radius: 15px;

}

.about-container,
.project-details {
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: aliceblue;
}

/* Mobile styles (for screens less than 768px) */
@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    h2,
    h3 {
        font-size: 1.5rem;
    }

    .about-container,
    .project-details {
        padding: 10px;
    }
}