body {
    font-family: Arial, sans-serif;
    background: url("images/chatbot.jpg") no-repeat center center fixed;
    background-size: cover;
    padding: 20px;
}

h1{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
}
a {
    background-color: rgb(70, 72, 140);
    color: white; 
    text-decoration: none; 
    font-size: x-large; 
    border-radius: 8px; 
    padding: 5px;
}

h2 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#chat-box {
    width: 100%;
    max-width: 600px;
    margin: auto;
    background: rgba(238, 233, 233, 0.373);
    padding: 20px;
    border-radius: 10px;
    height: 400px;
    overflow-y: auto;
}
#chat-box h4 {
    color: rgb(191, 232, 237);
    margin: 0;
}

.message {
    margin: 10px 0;
    padding: 8px 12px;
    border-radius: 8px;
    max-width: 80%;
    word-wrap: break-word;
}

.user {
    text-align: right;
    background-color: #a1ccf2;
    margin-left: auto;
}

.bot {
    text-align: left;
    background-color: #f1f1f1;
    margin-right: auto;
}

#input-area {
    max-width: 640px;
    margin: 20px auto;
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #005f99;
}