<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="/static/about.css">
</head>
<body>
    <div class="about-container">
    <h2>About Me</h2>
    <p>
        Hi, I'm Anup Shahi.
        I'm from Uttarakhand and have completed my Bachelor's degree in Computer Applications (BCA) from Dehradun.<br> 
        I'm passionate about web development and data analysis, and I'm always eager to gain practical experience and learn new skills.<br>
        I enjoy solving real-world problems, exploring new technologies, and constantly improving myself.<br>
        Currently, I'm looking for entry-level position in software and web development.
    </p>
    </div>

    <div class="project-details">
        <h3>Simple Python based Chatbot</h3>
        <p>A console-based chatbot built using Python pandas and Flask to respond based on pre-defined datasets.<br>
        It is a simple and basic project have pre-defined data which work as per the questions and give answers.</p><br>
        <div class="tech">Tech Used: Python, Pandas, HTML, CSS ,JS</div>
        <p>For more information visit the <a href="https://github.com/bhanu0221" target="_blank">GitHub</a></p>
    </div>

</body>
</html>