<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>StudyBot - Student Chatbot</title>
    <link rel="stylesheet" href="static/style.css">

</head>

<body>
    <h2 style="text-align: center;">📘 StudyBot - Ask Your Study Questions!</h2>

    <div id="chat-box"></div>

    <div id="input-area">
        <input type="text" id="message" placeholder="Type your question..." />
        <button onclick="sendMessage()">Send</button>
    </div>


    <div id="about-us">
        <h3>🤖 About StudyBot</h3>
        <p>
            StudyBot is a smart student assistant powered by Python, Flask, and Pandas. It helps you get instant answers
            to study-related questions using natural language understanding.
            Designed for learners, StudyBot simplifies doubt-solving with a click.
        </p>
        <p style="margin-top: 10px; font-weight: bold; color: #192129;">
            👨‍💻 Developed by Anup Shahi
        </p>
    </div>



    <script src="static/script.js"></script>
</body>

</html>