<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>StudyBot - Student Chatbot</title>
    <link rel="stylesheet" href="static/style.css">

</head>

<body>
    <h1><a href="/about us">About me</a></h1>
    <h2>
    <img src="/static/images/logo.jpg" alt="StudyBot Logo" style="height: 40px; border-radius: 50%; ">
    StudyBot - Ask Your Study Questions!
    </h2>


    <div id="chat-box">
        <h4>👋 Hi there! Ask your study questions here...</h4>
    </div>

    <div id="input-area">
        <input type="text" id="message" placeholder="Type your question..." />
        <button onclick="sendMessage()">Send</button>
    </div>


    <script src="static/script.js"></script>
</body>

</html>